.loading{
    text-align: center;
    width: 100%;
    margin: 2vh auto;
    font-size: 1.3rem;
}

/*Search box*/
.Search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.Search input[type="text"]{
    margin:5px;
    padding: 10px;
    width:30vw;
    font-size: 18px;
    border: 1px solid #075F6C;
    border-radius: 2px;

    &:focus, &:active{
        border: 2px solid #032227;
    }
}

.Search button{
    margin:5px;
    padding: 10px;
    width:80px;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background: radial-gradient(chocolate,purple);
}

.Search input[type="checkbox"]{
    margin:5px;
    zoom:2;
}

.checkboxInput{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Recipe Items*/
.recipeList{
    width: 100%;
    max-width: 1200px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 10px;
    padding: 5px 10px;
    margin: 0 auto;
}

.recipeItem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid #033F4F;
    font-size: larger;
    cursor: pointer;
    box-shadow: 0px 3px 5px #033F4F;

    a, span, h3, p{
        text-decoration: none;
        color: darkcyan;

        &:hover, &:focus, &:active{
            color: darkcyan;
        }
    }

    .item-name{
        width: 100%;
        height: 20%;
        max-height: 25px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
    }
}

.recipeItem img{
    width: 250px;
    height: 250px;
    margin:5px;
    max-height: 70%;
    border-radius: 10%;
}

/*Ingredients*/
.IngredientPage{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.IngredientPage h2{
    margin: 10px;
    font-size: 1.3rem;
}

.IngredientPage .image{
    text-align: center;
    padding: 10px;

    img{
        width: 50%;
        height: 50%;
        border-radius: 20%;
        margin-top: 10px;
        border: 2px solid #032227;
        box-shadow: 0px 10px 10px #a7d6dd;
        transition: all 0.5s ease-in-out;
        
        &:hover, &:focus{
            transform: scale(1.1,1.1);
        }
    }
}

.IngredientPage .list{
    margin: 10px;
    width: 45vw;
    min-height: auto;
}

.IngredientPage  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.ingredientItem{
    margin: 10px;
    padding: 10px;
    border-left : 2px solid rgb(82, 2, 16);
}

/*About and contact pages*/
.container{
    display: grid;
    place-items: center;
    margin: 2vh 2vw;
}

.heading{
    font-size: 1.5rem;
}

.contact ul{
    list-style: none;
    margin: 1.1rem 0.8rem;
    font-size: 1.3rem;
}

.contact{
    display: flex;
}

.contact li{
    border: 1px solid rgb(82, 2, 16);
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #034251;
    color: whitesmoke;
}

.about{
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

.about p{
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
}

@media(max-width:768px){
    .Search input[type="text"]{
        width:50vw;
        font-size: 18px;
    }
    .IngredientPage{
        display: inline-block;
    }

    .IngredientPage .image{
        width:100vw;
        height:auto;
    }
    .IngredientPage .list{
        width:100vw;
        height: auto;
    }

    .IngredientPage .image img{
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 500px){
    /*Ingredient page*/
    .IngredientPage .image img{
        width: 200px;
        height: 200px;
    }

    /*about and contact pages*/
    .heading{
        font-size: 1.5rem;
    }

    .contact ul{
        margin: 1.1rem 0.5rem;
        font-size: 1.1rem;
    }

    .contact li{
        border-radius: .2rem;
        padding: 0.5rem;
    }

}

@media(max-width: 400px){
    /*Recipe Items*/
    .recipeList{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
}