*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Nav{
  padding: 10px 15px;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(50deg,rgb(2, 54, 70),rgb(17, 186, 192));
  position: sticky;
  top:0;
  left:0;
  z-index: 100;
}

.Nav a{
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.rightNav ul{
  width:40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.rightNav li, .leftNav a{
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.rightNav li:hover{
  background: rgb(2, 23, 29);
}

.leftNav a{
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  &:hover{
    background-color: rgb(2, 23, 29);
  }
}

@media(max-width: 500px){
  .Nav{
    flex-direction: column;
    padding: 20px 15px;
    height: auto;
  }

  .leftNav{
    margin-bottom: 20px;
  }

  .rightNav ul{
    width: 100%;
    flex-direction: column;
  }

  .rightNav li{
    margin-bottom: 2px;
  }
}